@model BookmarksManager.Models.Bookmark

@{ ViewBag.Title = "Ajout";}

<h3>Ajout de favori</h3>
<hr />

<form action="@Url.Action("Create")" method="POST" class="simpleForm">
    <input type="text" name="Title" id="Title" placeholder="Titre" class="form-control" required/>
    <input type="url" name="Url" id="Url" placeholder="Url" class="form-control" required/>
    <input type="submit" value="Enregistrer" class="form-control btn-success" />
</form>
